{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1533227268428-f9ed0900fb3b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1479&q=80')")>
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>關於我</h1>
            <span class="subheading">一個熱愛分享的程式猿</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>科技來自人性 | 網路改變人心</p>
        <br>
        <p>歡迎訂閱我的頻道</p>
        <a href="https://reurl.cc/59Qqy">程式猿YT</a>
        <br>  
        <p>這個頻道會介紹一些我認為非常好用的App,
          或一些好用的網站,
          如果我的頻道對您有幫助的話,
          請幫我按個訂閱點個讚,
          就是對我最好的鼓勵。</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}